.containerBreadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

h5 {
  font-weight: 400;
  font-size: 12px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  max-width: 60%;
  margin: 24px;
}

.textCounter{
  color: rgb(133, 133, 133);
  max-width: 90%;
  font-size: 14px;
  text-align: right;
  margin: 8px 24px;

}

textarea{
  height: 280px;
  border-radius: 8px;
  background-color: #00000009;
  border: none;
  padding: 32px;
  margin: 0 24px;
  font-family: "Inter", sans-serif;
  width: 90%;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.content {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 63%;
}

.star {
  width: 50px;
  margin: 0 5px;
  filter: grayscale(1);
}

.starSelected {
  width: 50px;
  margin: 0 5px;
  filter: grayscale(0);
}

.containerStars{
  width: 90%;
  margin: 24px;
  display: flex;
  justify-content: space-between;
}