.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

img {
  max-width: 120px;
}
