.containerBreadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  width: 80%;
  margin: 0 auto;
}

h5 {
  font-weight: 400;
  font-size: 12px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
}

.textCounter {
  color: rgb(133, 133, 133);
  max-width: 80%;
  font-size: 14px;
  text-align: right;
  margin: 8px 24px;
}

textarea {
  height: 170px;
  border-radius: 8px;
  background-color: #00000009;
  border: none;
  padding: 32px;
  margin: 0 24px;
  font-family: "Inter", sans-serif;
  width: 80%;
  font-size: 16px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  height: 63%;
  flex-direction: column;
  justify-content: space-around;
}

.star {
  width: 32px;
  margin: 0 5px;
  filter: grayscale(1);
}

.starSelected {
  width: 32px;
  margin: 0 5px;
  filter: grayscale(0);
}

.containerStars {
  width: 90%;
  margin: 24px auto;
  display: flex;
  justify-content: space-evenly;
}
.orderNumber {
  text-align: center;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000009;
  border-radius: 100px;
  width: 80%;
  height: 48px;
}

.containerAvaliacao {
  height: 70%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.containerPedido {
  height: 30%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error {
  font-size: 28px;
  text-align: center;
  width: 100%;
  padding: 32px 0;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .containerBreadcrumbs {
    padding: 24px 0;
    width: 50%;
    margin: 0 auto;
  }
  .orderNumber,
  .containerStars,
  .textCounter {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .containerBreadcrumbs {
    padding: 24px 0;
    width: 50%;
    margin: 0 auto;
  }
  .orderNumber,
  textarea,
  .containerStars,
  .textCounter {
    width: 50%;
  }
  .textCounter {
    margin: 8px auto;
  }
}
