button,
.primaryHome {
  padding: 10px 20px;
  border-radius: 100px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  font-family: "Inter", sans-serif;
  background-color: black;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.primaryHome {
  min-width: 200px;
  max-width: 300px;
  margin: 0;
}

.tagButton {
  border: 1px solid black;
  background-color: white;
  color: black;
  height: 32px;
  font-size: 12px;
  max-width: 150px;
}

.tagButtonActive {
  max-width: 150px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 12px;
  height: 32px;
}

.primaryExtra,
.secondary {
  margin: 0 auto;
  width: 80%;
}

.secondary {
  background-color: white;
  color: black;
  margin-top: 16px;
}

.minus,
.plus {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  color: black;
}
@media screen and (min-width: 767px) {
  .primaryExtra,
  .secondary {
    width: 50%;
  }
  .primaryHome {
    max-width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .primaryExtra,
  .secondary {
    width: 50%;
  }
  .primaryHome {
    max-width: 25%;
  }
}
