button {
  padding: 10px 20px;
  border-radius: 100px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  font-family: "Inter", sans-serif;
  background-color: black;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
}

.tagButton {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 14px;
}
.tagButtonActive {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 14px;
}


.secondary {
  background-color: white;
  color: black;
  margin-top: 16px;
}

.minus,
.plus {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  color: black;
}
.primaryExtra {
  margin: 0 24px;
  width: 90%;
}
