.container {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/bg-init.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 20px 40px 20px;
}

.highlight {
  font-size: 64px;
  font-weight: 900;
  margin:20px 0 40px 0;
  color: white;
  line-height: 0.95;
}
.icon {
  width: 40%;
}