.container {
  width: 100%;
  margin: 0 auto;
  height: 63%;
}

.content {
  margin: 0;
  padding: 0;
  height: 100%;

}

.slide {
  margin: 0 auto;
  padding: 0 32px;
  width: 60%;
}

/* .content {
  position: relative;
  width: 100%;
} */

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.leftButton, .rightButton {
width: 20px;
height: 20px;
color: black;
font-size: 20px;
font-weight: 900;
padding: 0;
}

.arrowLeft, .arrowRight {
    width: 10px;
    margin: 0;
}
.leftButton{
  left: 340px;
  transform: rotateY(180deg);
  right: 340px;

} 
.rightButton{
  right: 340px;
  top: 464px;
}