.container {
  max-width: 80%;
  margin: 0 auto;
  height: 63%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 0;
  padding: 0;
  height: 100%;
}

.slide {
  margin: 0 auto;
  padding: 0 32px;
  width: 60%;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.leftButton,
.rightButton {
  width: 50px;
  height: 50px;
  color: black;
  font-size: 20px;
  font-weight: 900;
  padding: 0;
  display: flex;
  align-items: center;
}

.arrowLeft,
.arrowRight {
  width: 8px;
  margin: 0;
}
.leftButton {
  transform: rotateY(180deg);
}
